<H1>ALL RESTAURANTS LIST</H1>

<div class="container">
<div class="card align-self-center" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <% @restaurants.each do |restaurant| %>
      <li class="list-group-item border border-primary"><%= restaurant.name %></li>
      <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
      <br>
    <% end %>
  </ul>
</div>
<H2>Do you want to post a new restaurant that you like?</H2>
<%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-primary"%>
</div>
